{% extends "global/base.html" %}
{% load i18n %}
{% block content %}
<div id="main">
    <h2>{% trans "Notifications" %}</h2>
    <ul >
        {% for notification in notifications %}
        <li>
            <div>
                <p>
                    <strong>{{ notification.sender.username }}</strong> 
                    {{ notification.title }}
                </p>
                <p>{{ notification.message }}</p>
                <small>{{ notification.created_at|date:"d/m/Y H:i" }}</small>
            </div>
        </li>
        {% empty %}
        <li>
            <p>{% trans "No notification found." %}</p>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}