{% load i18n %}
<!-- Navbar -->
<header id="header">
    <h1><a href="{% url "publications:home" %}">Socialnet</a></h1>
    <nav class="links">
        <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'profiles:profile' request.user.username %}">{% translate "Profile" %}</a></li>
            {% else %}
                <li><a href="{% url 'authors:login' %}">{% translate "Login" %}</a></li>
                <li><a href="{% url 'authors:register' %}">{% translate "Register" %}</a></li>
            {% endif %}
        </ul>
    </nav>
    <nav class="main">
        <ul>
            <li class="search">
                <a class="fa-search" href="#search">Search</a>
                <form id="search" method="get" action="{% url "publications:search" %}">
                    <input type="text" name="q" placeholder="Search" required/>
                </form>
            </li>
            <li class="menu">
                <a class="fa-bars" href="#menu">Menu</a>
            </li>
        </ul>
    </nav>
</header>