{% load i18n %}
<!-- Navbar -->
<header>
    <div class="logo">Socialnet</div>
    <nav class="header-nav">
        <ul>
            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'publications:home' %}">
                        <i class="material-symbols-outlined">home</i>
                    </a>
                </li>
                <li>
                    <a href="{% url 'notifications' %}">
                        <i class="material-symbols-outlined">notifications</i>
                        <span class="notif-indicator" id="notif-indicator">●</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'profiles:profile' request.user.username %}">
                        <i class="material-symbols-outlined">person</i>
                    </a>
                </li>
                <li>
                    <a href="{% url 'configs:configs' %}">
                        <i class="material-symbols-outlined">settings</i>
                    </a>
                </li>
                <li>
                    <a href="{% url 'authors:logout' %}" onclick="return confirm('Are you sure?')">
                        <i class="material-symbols-outlined">logout</i>
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'authors:login' %}">
                        <i class="material-symbols-outlined">login</i>
                    </a>
                </li>
                <li>
                    <a href="{% url 'authors:register' %}">
                        <i class="material-symbols-outlined">door_open</i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>