{% load static %}
{% load i18n %}
{% block content %}
<div class="post">
    <div class="post-header">
        <a href="{% url "profiles:profile" publication.author.username %}" class="post-profile-user-link">
            {% if publication.author.profile.picture %}
                <img src="{{ publication.author.profile.picture.url }}" alt="Profile picture">
            {% else %}
                <img src="{% static "global/img/profile-without-picture.png" %}" alt="">
            {% endif %}
        </a>
        <a href="{% url "profiles:profile" publication.author.username %}" class="post-profile-user-link">
            <span>@{{ publication.author.username }}</span>
        </a>
        <small>{{ publication.created_at|timesince }} {% translate "ago" %}</small>
    </div>
    <p>{{ publication.text }}</p>
    {% if publication.img %}
        <img src="{{ publication.img.url }}" alt="">
    {% endif %}
    <div class="post-actions">
        {% if publication in request.user.likes.all %}
            <button class="like-button liked" data-id="{{ publication.id }}">
                Like
            </button>
        {% else %}
            <button class="like-button" data-id="{{ publication.id }}">
                Like
            </button>
        {% endif %}
        <span class="like-count">
            {{ publication.like.count }}
        </span>
        {% if is_detail is not True %}
            <a href="{% url 'publications:publication-detail' publication.id %}">
            <button class="comment-button">{% translate "Comment" %}</button></a>
        {% endif %}
        {% if publication in request.user.publications.all %}
            <a href="{% url 'publications:delete-publication' publication.id %}">
                <button class="delete-button">{% translate "Delete" %}</button>
            </a>
        {% endif %}
    </div>
</div>
{% endblock content %}