{% load static %}
<!-- Sidebar -->
<section id="sidebar">

    <!-- Intro -->
        <section id="intro">
            <a href="{% url "publications:home" %}" class="logo"><img src="{% static "global/img/logo.png" %}" alt="" /></a>
            <header>
                <h2>Socialnet</h2>
            </header>
        </section>

    <!-- About -->
        <section class="blurb">
            <h2>About</h2>
            <p>This is a platform developed by Rafael Rodrigues.</p>
        </section>

    <!-- Footer -->
        <section id="footer">
            <ul class="icons">
                <li><a href="https://www.instagram.com/rafael_rodrigues.dev/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="https://github.com/rafaelrodrigues-dev" class="icon brands fa-github"><span class="label">Github</span></a></li>
            </ul>
            <p class="copyright">&copy; Rafael Rodrigues</p>
        </section>

</section>