{% extends "global/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<div id="main">
    <div class="profile-container">
        <div class="profile-header">
            {% if profile.picture %}
                <img src="{{ profile.picture.url }}" alt="Avatar" class="avatar">
            {% else %}
            <img src="{% static "global/img/profile-without-picture.png" %}" alt="Avater" class="avatar">
            {% endif %}

            <p>@{{ profile.user.username }}</p>
            <h1>{{ profile.user.get_full_name }}</h1>
            <i>{{ profile.bio }}</i>
        </div> 
        <div class="stats">
            <div>
                <span>{{ profile.followers.count }}</span>
                <p>{% translate "Followers" %} </p>
            </div>
            <div>
                <span>{{ profile.follow.count }}</span>
                <p>{% translate "Following" %}</p>
            </div>
        </div>
        {% if not request.user.profile == profile %}
        <form action="{% url "profiles:follow" profile.user.username %}" method="post">
            {% csrf_token %}
            {% if request.user.profile in profile.followers.all %}
                <button >{% translate "unfollow" %}</button>
            {% else %}
                <button>{% translate "follow" %}</button>
            {% endif %}
        </form>
        {% endif %}
    </div>
    {% for publication in page_obj %}
            {% include "global/partials/publication.html" %}
        {% endfor %}
    {% include "global/partials/pagination.html" %}
</div>
{% include "global/partials/sidebar.html" %}
{% endblock content %}
