{% extends "global/base.html" %}
{% load i18n %}
{% block content %}
{% include "global/partials/messages.html" %}
<section class="form-card">
    <h2>{% translate "Edit Profile" %}</h2>
    <form action="{% url 'authors:edit_author' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if request.user.profile.picture %}
            <img src="{{ request.user.profile.picture.url}}" alt="">
        {% endif %}
        {{ form.picture.as_field_group }}
        {{ form.first_name.as_field_group }}
        {{ form.last_name.as_field_group }}
        {{ form.bio.as_field_group }}
        {{ form.date_of_birth.as_field_group }}
        {{ form.gender.as_field_group }}
        <button type="submit">{% translate "Send" %}</button>
    </form>
</section>
{% endblock content %}