{% extends "global/base.html" %}

{% block content %}
    <main>
        <section class="form-card">
            <h2>Register</h2>
            <form method="post" action="{% url "authors:register_create" %}">
                {% csrf_token %}
                <div>
                    {{ form.username.as_field_group }}
                    {{ form.first_name.as_field_group }}
                    {{ form.last_name.as_field_group }}
                    {{ form.email.as_field_group }}
                    {{ form.password.as_field_group }}
                    {{ form.date_of_birth.as_field_group }}
                    {{ form.gender.as_field_group }}
                </div>
                
                <button type="submit">Send</button>
            </form>
            <p>Do you have an account?? <a href="authors:login">Log in</a></p>
        </section>
    </main>
{% endblock content %}

