{% block content %}
<div class="post">
    <div class="post-header">
        <img src="https://placehold.co/40x40" alt="">
        <div><span>@{{ publication.author.username }}  </span> </div>
        <div><small>{{ publication.created_at|timesince }} atrás</small></div>
    </div>
    <p>{{ publication.text }}</p>
    {% if publication.img %}
        {{ publication.img }}
    {% endif %}
    <div class="post-actions">
        <button>Like</button>
        {% if is_detail is True %}
            <span>1 like(s)</span>
        {% else %}
            <a href="{% url 'publications:publication-detail' publication.id %}">
            <button>Comment</button></a>
        {% endif %}
    </div>
</div>
{% endblock content %}