{% block content %}
    <div class="post-header">
        <div class="author-info">
            <div class="profile-pic sm" style="background-color: #ddd;"></div>
            <div>
                <h4>{{publication.author.first_name}}</h4>
                <p class="post-time">@{{publication.author.username}} · {{publication.created_at}}</p>
            </div>
        </div>
    </div>
    <p class="post-content">
        {{publication.text}}
    </p>
    {% if publication.img %}
        <div class="post-media">
            <img src="{{ publication.img.url }}" alt="Imagem do post" class="post-image">
        </div>
    {% endif %}
{% endblock content %}